.nav {
  height: 4rem;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--background-tertiary);
  color: var(--foreground-default);
  font-size: 2rem;
}
